/*GENERAL STYLES*/
* {
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
body {
    font-family: Calibri;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}
/*header*/
.titleGlobal{
    width: 100%;
    padding-left: 75px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 36px;
    border-bottom: 3px solid orangered;
    margin-right: 85px;
}
.header {
    display: flex;
    width: 100%;
}
.title {
    width: 100%;
    padding-left: 75px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 36px;
    border-bottom: 3px solid orangered;
    margin-right: 85px;
}

.img-log {
    position: relative;
    left: 30%;
    bottom: 100%;
    width:90px;
    height:85px;
}
/*(Menu)*/
.side {
    position: absolute;
    left: 34%;
    bottom: 89%;
}

ul li {
    list-style-type: none;

}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.menu a {
    background: white;
    color: black;
    display: inline-block;
    padding: 20px;
    transition: 0.5s all;
    font-weight: bold;
}

.menu_list {
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.menu_drop {
    position: absolute;
    right: 0px;
    display: none;
}

.menu a:hover {
    background: orangered;
    color: white;
    padding: 10px 10px 10px 10px;
}

.menu_list:hover .menu_drop {
    display: block;
    z-index: 2;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*fullscreen*/
.fullscreen {
    min-height: 100vh;
    background: url("img/style_design-games/The_last_of_Us2/1.jpeg") center / cover no-repeat ;
    display: flex;
    padding: 20px 0;
}
.fullscreen-body {
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    padding: 0 20px;

}
.fullscreen-title {
}
.fullscreen_bg{
    min-height: 100vh;
    background: url("img/style_design-games/The_last_of_Us2/2.jpg") center / cover no-repeat fixed;
}

/*fullscreen2*/
.fullscreen2 {
    min-height: 100vh;
    background: url("img/style_design-games/The_last_of_Us2/3.jpeg") center / cover no-repeat ;
    display: flex;
    padding: 20px 0;
}
.fullscreen-body2 {
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    padding: 0 20px;

}
.fullscreen-title2 {
}
.fullscreen_bg2{
    min-height: 100vh;
    background: url("img/style_design-games/The_last_of_Us2/NAUGHTY_DOG.jpeg") center / cover no-repeat fixed;
}

/*fullscreen3*/
.fullscreen3 {
    min-height: 100vh;
    background: url("img/style_design-games/The_last_of_Us2/4.jpg") center / cover no-repeat ;
    display: flex;
    padding: 20px 0;
}
.fullscreen-body3 {
    flex: 1 1 auto;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    padding: 0 20px;

}
.fullscreen-title3 {

}
h2{
    color: skyblue;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.content {
    padding-top: 20px;
    height: 100vh;
    background: url("img/style_design-games/The_last_of_Us2/Fon.jpg") center / cover no-repeat ;
}
.content-title{
    color: peru;

}
.content_body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
    color: white;
}

.content_body p:last-child {
    margin: 0;
}
/*Content_person*/
h4{
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.content_person {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-top: 200px;

}
/*Content1*/
.content1 {
    width: 33%;
    height: 400px;
    float: left;
    background: url("img/style_design-games/The_last_of_Us2/The_Last_of_Us2.jpg")  center / cover no-repeat ;
    display: block;
    position: relative;
    transition: 0.9s;
    border: 3px solid white;
}
.content1 p{
    text-align: center;
    transition: 0.9s;
    color: white;
    font-weight: bold;
    font-size: 22px;
    opacity: 1;
    padding-rightn: 10px;
}
.content1:hover p{
    transition: 0.9s;
    color: white;
    opacity: 0;
}
.content1:hover {
    background: url("img/style_design-games/The_last_of_Us2/Еля.webp") center / cover no-repeat ;
    transition: 0.9s;
}

/*Content2*/
.content2 {
    width: 33%;
    height: 400px;
    float: left;
    background: url("img/style_design-games/The_last_of_Us2/The_Last_of_Us2.jpg") center / cover no-repeat;
    display: block;
    position: relative;
    transition: 0.9s;
    border: 3px solid white;
}
.content2 p{
    text-align: center;
    transition: 0.9s;
    color: white;
    font-weight: bold;
    font-size: 22px;
    opacity: 1;
    padding-rightn: 10px;
}
.content2:hover p{
    transition: 0.9s;
    color: white;
    opacity: 0;
}
.content2:hover {
    background: url("img/style_design-games/The_last_of_Us2/Joel.webp") center / cover no-repeat ;
    transition: 0.9s;
}

/*Content3*/
.content3 {
    width: 33%;
    height: 400px;
    float: left;
    background: url("img/style_design-games/The_last_of_Us2/The_Last_of_Us2.jpg") center / cover no-repeat;
    display: block;
    position: relative;
    transition: 0.9s;
    border: 3px solid white;
}
.content3 p{
    text-align: center;
    transition: 0.9s;
    color: white;
    font-weight: bold;
    font-size: 22px;
    opacity: 1;
    padding-rightn: 10px;
}
.content3:hover p{
    transition: 0.9s;
    color: white;
    opacity: 0;
}
.content3:hover {
    background: url("img/style_design-games/The_last_of_Us2/Ебі.jpg") center / cover no-repeat ;
    transition: 0.9s;
}

/*Content4*/
.content4 {
    width: 33%;
    height: 400px;
    float: left;
    background: url("img/style_design-games/The_last_of_Us2/The_Last_of_Us2.jpg")center / cover no-repeat  ;
    display: block;
    position: relative;
    transition: 0.9s;
    border: 3px solid white;
}
.content4 p{
    text-align: center;
    transition: 0.9s;
    color: white;
    font-weight: bold;
    font-size: 22px;
    opacity: 1;
    padding-rightn: 10px;
}
.content4:hover p{
    transition: 0.9s;
    color: white;
    opacity: 0;
}
.content4:hover {
    background: url("img/style_design-games/The_last_of_Us2/Dina.jpg") center / cover no-repeat ;
    transition: 0.9s;
}

/*Content5*/
.content5 {
    width: 33%;
    height: 400px;
    float: left;
    background: url("img/style_design-games/The_last_of_Us2/The_Last_of_Us2.jpg")  center / cover no-repeat ;
    display: block;
    position: relative;
    transition: 0.9s;
    border: 3px solid white;
}
.content5 p{
    text-align: center;
    transition: 0.9s;
    color: white;
    font-weight: bold;
    font-size: 22px;
    opacity: 1;
    padding-rightn: 10px;
}
.content5:hover p{
    transition: 0.9s;
    color: white;
    opacity: 0;
}
.content5:hover {
    background: url("img/style_design-games/The_last_of_Us2/Томі.png") center / cover no-repeat ;
    transition: 0.9s;
}

/*Content6*/
.content6 {
    width: 33%;
    height: 400px;
    float: left;
    background: url("img/style_design-games/The_last_of_Us2/The_Last_of_Us2.jpg")  center / cover no-repeat ;
    display: block;
    position: relative;
    transition: 0.9s;
    border: 3px solid white;
}
.content6 p{
    text-align: center;
    transition: 0.9s;
    color: white;
    font-weight: bold;
    font-size: 22px;
    opacity: 1;
    padding-rightn: 10px;
}
.content6:hover p{
    transition: 0.9s;
    color: white;
    opacity: 0;
}
.content6:hover {
    background: url("img/style_design-games/The_last_of_Us2/Мерлін.jpg") center / cover no-repeat ;
    transition: 0.9s;
}


/* FOOTER */
.footer {
    margin-top: 12px;
    width: 100%;
    height: 90px;
    padding: 21px;
    background-color: orangered;
}

.footer p {
    color: white;
    float: right;
}
